<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MenuBelongAdmin" value="1"/>
  </appSettings>
  <connectionStrings>


    <!--<add name="conn" connectionString="Data Source=139.196.213.10;User ID=sa;Pwd=Xskj2016;Initial Catalog=XS.Audit;Persist Security Info=True" providerName="System.Data.SqlClient" />-->
    <add name="conn" connectionString="Data Source=.;User ID=sa;Pwd=123;Initial Catalog=XS.Audit;Persist Security Info=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="/ErrorPage/error.aspx">
      <error statusCode="404" redirect="/ErrorPage/error.aspx" />
      <error statusCode="403" redirect="/ErrorPage/error.aspx" />
      <error statusCode="500" redirect="/ErrorPage/errorupdate.aspx" />
    </customErrors>

    <pages validateRequest="false" />
    <compilation debug="true" />
    <httpRuntime  maxRequestLength="1000000000" executionTimeout="3600" minFreeThreads="4"/>
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1000000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>